/*
Theme Name: Change Happens
Description: Hello World Child Theme
Author: Lisa Wells
Template: hello-world
Version: 1.0.0
*/

.widget {
    margin-bottom: 40px;
}

.sign-up-call:hover,
.sign-up-h3 span:hover,
.quizlink:hover,
#friends-family-trigger:hover {
  color: #5687c3 !important;
}

.entry-content ul {
  list-style-type: none;
}

.entry-content ul li:before {
  color: #ff6600;
  content: "\2765";
  padding-right: 5px;
}
.entry-content .sharedaddy ul li:before {
  content: "";
  padding-right: 0;
}

.site-top {
    margin: 0 -20px;
    padding-top: 0;
}

.site-bar {
    margin: 0 -20px;
}

div.post-sticky {
  display: none;
}

.home div.post-sticky {
  display: block;
}

article.sticky {
  box-shadow: 0 0 0 1px #ccc, 0 0 0 4px #fff, 0 0 0 5px #ccc;
  padding: 1em;
  margin-bottom: 6em;
  margin-left: 10px;
  box-sizing: border-box;
}

.post-sticky .entry-content {
  padding-bottom: 0;
  position: relative;
}

#burst-cta,
#burst-cta-about {
    font-size: 18px;
    text-align: center;
    z-index: 200;
}

#burst-cta {
    background-image: url(../change-happens/images/star_shape_white-w-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -155px;
    color: rgb(0,178,199);
    height: 184px;
    position: absolute;
    right: -69px;
    -webkit-transform: rotate(14deg);
    -moz-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    -o-transform: rotate(14deg);
    transform: rotate(14deg);
    width: 184px;
}

#burst-cta-about {
    /*background-image: url(../change-happens/images/star_shape_blue-w-blue.png);*/
    background-color: #fff;
    border: 2px solid #016797;
    border-radius: 50%;
    bottom: 0;
    color: #fff;;
    height: 140px;
    position: relative;
    right: 0;
    width: 140px;
}
#burst-cta-about a {
    text-decoration: none;
  }

#burst-text {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-33%, -50%);
  -moz-transform: translate(-33%, -50%);
  -ms-transform: translate(-33%, -50%);
  -o-transform: translate(-33%, -50%);
  transform: translate(-33%, -50%);
}

#burst-text-about {
  margin-top: 5px;
}

#burst-text p,
#burst-text-about p {
  color: rgb(0,178,199);
  margin: 0 0 7px 0;
  font-style: italic;
  line-height: 1;
}

#burst-text-about p:first-child {
    line-height: 3;
    margin-bottom: -11px;
      /*padding: 0 25px;*/
}

#burst-text p:nth-child(2),
#burst-text-about p:nth-child(2) {
  color: rgb(112,62,126);
  font-style: normal;
  text-transform: uppercase;
  border-top: 1px rgb(0,178,199) solid;
  padding-top: 8px;
}
#burst-text-about p:nth-child(2) {
  margin: 0px 23px 0;
}

#text-4 { /* are you ready sidebar */
  position: relative;
}

#text-4 #burst-cta-about {
    position: absolute;
    top: -91px;
    left: -31px;
}

.post-thumbnail {
  float: left;
  margin: 43px 20px 16px 0;
  overflow: hidden;
  width: 100%;
}

.post-thumbnail img {
  transition: 0.3s ease-in-out;
}

.post-thumbnail a:hover img {
  -webkit-transform: scale( 1.03 );
  -ms-transform: scale( 1.03 );
  transform: scale( 1.03 );
  opacity: 0.9;
}

div#secondary {
    border-top: none;
}

#hello_world_profile-2 {
    margin-bottom: 0;
}

#sticky-sidebar img {
    display: block;
    max-width: 280px;
    margin: 0 auto 2em;
}

#sticky-sidebar img:last-of-type {
    margin: 0 auto 0;
}



/* thank you pages */

.page-id-859 h2,
.page-id-834 h2,
.page-id-865 h2 {
  margin-top: 0;
}

/** FOOTER **/

#colophon {
  background-color: #8A9399;
  border-top: none;
  color: #000;
  font-size: 15px;
  letter-spacing: 1.3px;
  line-height: 1.2;
  margin: 0 -20px;
  max-width: none;
  padding: 3em 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#colophon-content {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 20px;
}

#footer-social a:before {
    border: solid 1px #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font: normal 18px/1 Genericons;
    -webkit-font-smoothing: antialiased;
    margin-right: 8px;
    padding: 6px;
    position: relative;
    vertical-align: middle;
}

#footer-social a:hover:before {
    border: solid 1px #000;
    color: #000;
}

#footer-contact a {
  display: block;
  margin-bottom: 1em;
}

#footer-social a[href*="facebook.com"]:before {
    content: "\f204";
}

#footer-social a[href*="linkedin.com"]:before {
    content: "\f207";
}

#footer-contact,
#footer-social,
#footer-copyright a,
#footer-copyright p,
#legal-links p  {
    line-height: 1;
    margin-bottom: 1em;
    width: 100%;
}

#footer-contact a:hover,
#legal-links a:hover,
#devcred a:hover {
  color: #fff;
}

#footer-social {
    /*text-align: center;*/
}

#footer-social img {
  width: 74px;
}

#devcred {
  font-size: 10px;
  margin: 0;
}
#devcred a {
  color: #000;
}

/* FORMS */

.af-textWrap input {
  width: 100%;
  margin-bottom: 1em;
  height: 40px;
}

.pum-container {
  background-color: rgb(97,200,208) !important;
}

.pum-title {
  margin-bottom: -50px; /* to fight extra aweber <p> */
}

.poweredBy p {
  margin-bottom: -44px; /* to fight extra aweber <p> */
}

.af-form,
.pum-title {
  color: #fff !important;
}

.af-form textarea {
    margin-top: 7px;
    margin-bottom: 14px;
}

.af-element.privacyPolicy {
    margin-top: 20px !important;
}

.af-element.privacyPolicy p {
    margin-bottom: 6px !important;
}

.buttonContainer input {
    background: rgb(0,186,190) !important;
}

.pum-close {
  background-color: rgb(0,186,190) !important;
}

/*++++++++MEDIA+++++++++*/

@media screen and (min-width: 600px) {

  .post-thumbnail {
    width: 40%;
  }

}

@media screen and (min-width: 783px) {

  .main-navigation div.menu > ul,
  .main-navigation ul.menu {
    padding-right: 0;
  }

  /** FOOTER **/
  #footer-contact {
    width: 30%;
  }

  #footer-social {
    width: 36%;
  }

  #footer-copyright,
  #legal-links,
  #devcred {
    width: 33%;
  }

  #footer-contact,
  #footer-social {
    float: left;
  }

  #footer-copyright,
  #legal-links,
  #devcred {
    float: right;
    text-align: right;
  }

  #devcred {
    clear: both;
  }

  #footer-contact {
      text-align: left;
  }

} /** end min-width: 783px **/

@media screen and (min-width: 980px) {

  .site-top {
      margin: 0 auto;
      padding: 46px 0 52px;
  }

  .main-navigation {
    padding-left: 0;
    padding-right: 0;
  }

  .site-bar {
      margin: 0 auto;
  }

  #text-4 #burst-cta-about {
    position: absolute;
    top: -36px;
    left: -93px;
  }

  #colophon-content {
    padding: 0 45px;
  }


} /** end min-width: 980px **/

@media screen and (min-width: 1020px) {

  #text-4 #burst-cta-about {
    position: absolute;
    top: -36px;
    left: -93px;
  }

}
